:root{
    --bgColor: rgb(221, 221, 221);
}

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #f5f5f5f3;
}

header{
    text-align: center;
    margin: 50px;
}

main{
    margin: 50px;
}

section{
    display: flex;
    flex-direction: row;
}

section .ctn-left{
    margin-right: 20px;
}

section .ctn-left p{
    text-align: justify;
    margin-bottom: 10px;
}

section .ctn-left .table{
    background-color: var(--bgColor);
    padding: 42px;
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);
}

section .ctn-left .table tr td{
    padding: 8px 33px;
}

section .ctn-left .table tr td .input{
    height: 25px;
}

section .ctn-left .table button{
    padding: 6px;
    cursor: pointer;
    border-radius: 2px;
}

section .ctn-left .table button.submit{
    background-color: rgb(0, 173, 241);
    border: 1px solid rgb(0, 173, 241);
}

section .ctn-left .table button.submit a{
    text-decoration: none;
    color: white;
}

section .ctn-left .table button.submit:hover{
    background-color: rgb(2, 109, 151);
    border: 1px solid rgb(2, 109, 151);
    color: white;
}

section .ctn-left .table button.reset{
    margin: 5px;
    border: 1px solid grey;
    background-color: white;
}

section .ctn-left .table button.reset:hover{
    border: 1px solid gray;
    background-color: gray;
    color: white;
}

section .ctn-right{
    margin-left: 20px;
}

section .ctn-right h3{
    margin-bottom: 20px;
    font-weight: 500;
}

section .ctn-right ol{
    margin-left: 17px;
    margin-bottom: 30px;
}

section .ctn-right p{
    text-align: justify;
}

section .ctn-right #description{
    margin-bottom: 30px;
}

hr{
    margin: 40px 0;
}

/* Hasil Test BMI */
.hasilTest{
    display: flex;
    flex-direction: column;
}

.hasilTest h3{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 5px;
}

.row-hasil{
    display: flex;
}

.col-hasil{
    width: 550px;
    height: 200px;
    background-color: var(--bgColor);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .7);
}

.col-hasil h4,h1,h5{
    font-weight: 500;
}

.col-hasil h1{
    font-size: 30px
}

.col-ket{
    width: 50%;
    margin-left: 60px;
}

.ket-over h4{
    font-weight: 500;
    font-size: 20px;
}

.saran{
    margin-top: 20px;
    text-align: justify;
}

.saran2{
    margin-top: 20px;
    text-align: justify;
}

.row-penyakit .col{
    margin-top: 10px;
    width: 550px;
    text-align: center;
    padding: 10px;
    background-color: var(--bgColor);
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .7);
}

.row-penyakit .col h4{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 19px;
}

.row-penyakit .col ol li{
    list-style: none;
    margin: 10px 0;
    font-size: 15px;
}

footer{
    background-color: #353535;
    color: #ddd;
    text-align: center;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive */
@media screen and (max-width:480px){
    section{
        flex-direction: column;
        justify-content: center;
    }

    section .ctn-left p{
        margin-right: 1px;
        width: 77vw;
    }

    section .ctn-left .table{
        max-width: 75vw;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);
    }

    section .ctn-left .table tr td{
        padding: 5px 20px;
    }

    section .ctn-right{
        margin-top: 20px;
    }

    .table .submit{
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    }

    .table .reset{
        margin: 5px;
        width: 80px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    }

    .row-hasil{
        flex-direction: column;
    }

    .col-hasil{
        max-width: 75vw;
        margin-bottom: 10px;
    }

    .col-ket{
        width: 100%;
        margin: 0;
    }

    .row-penyakit .col{
        padding: 5px;
        max-width: 75vw;
    }
}

@media screen and (max-width:600px){
    section{
        flex-direction: column;
        justify-content: center;
    }

    section .ctn-left p{
        margin-right: 1px;
        width: 77vw;
    }

    section .ctn-left .table{
        padding: 5px;
        border-radius: 5px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);
    }

    section .ctn-left .table tr td{
        padding: 5px 20px;
    }

    section .ctn-right{
        margin-top: 20px;
    }

    .table .submit{
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    }

    .table .reset{
        margin-top: 5px;
        width: 80px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
    }

    .row-hasil{
        flex-direction: column;
    }

    .col-hasil{
        max-width: 75vw;
        margin-bottom: 10px;
    }

    .col-ket{
        width: 100%;
        margin: 0;
    }

    .row-penyakit .col{
        max-width: 75vw;
    }
}